<div class="well well-sm note-instructions">
  If you want to insert an image of your notes, a photo to go with them:
  Click the picture button (<i class="fa fa-picture-o"></i>) to upload an image or give the URL to one.
</div>
