<% if @note.html_content? %>
  <script type="text/javascript">
    if (sn.summerNote.loaded) {
      sn.loadSummerNoteEditor();
    } else {
      //Style
      $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', sn.summerNote.css) );
      sn.summerNote.loaded = true;
      //JS
      $.getScript(sn.summerNote.js, function() {
        sn.loadSummerNoteEditor();
      });
    }
  </script>
<% end %>

<%= form_for(@note) do |f| %>
  <%= f.hidden_field :note_type %>
  <%= f.hidden_field :forked_from %>
  <div class="row">
    <div class="col-md-3">
      <% if @note.errors.any? %>
        <div class="saving-errors panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %>:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @note.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "How the universe came about" %>
      </div>
      <div class="form-group">
        <%= f.label :privacy %>
        <%= f.select :privacy, [
          ['Public', 'priv_public'],
          ['Closed', 'priv_closed'],
          ['Private', 'priv_private']], {},
          {class: "form-control"}
        %>
      </div>
      <div class="well well-sm note-tips">
        <strong>Remember:</strong>
        Be descriptive when choosing a note title. People need to be able to find it.
        <dl>
          <dt>Public</dt>
          <dd>Anyone can find and view</dd>
          <dt>Closed</dt>
          <dd>Anyone with a link can view</dd>
          <dt>Private</dt>
          <dd>Only you have access</dd>
        </dl>
      </div>
      <%= render 'captcha' if @note.new_record? %>
      <%= f.submit class: "btn btn-success btn-block" %>
    </div>
    <div class="col-md-9">
      <%# f.label :content %>
      <% if @note.html_content? %>
        <%= f.text_area :content, id: "note-content", class: "summernote-main" %>
        <%= render 'editor_instructions' %>
      <% else %>
        <div class="form-group">
          <%= f.label :content, "Url to notes", placeholder: "http://example.com/notes.pdf" %>
          <%= f.text_area :content, class: "form-control" %>
        </div>
        <%= render 'link_instructions' %>
      <% end %>
    </div>
  </div>
<% end %>