<div class="well well-sm note-instructions">
  <h4>Only links to pages using https are accepted.</h4>
  <p>Also make sure the link you are supplying is <strong>accessible to anyone</strong> (e.g. you don't have to be signed in) and that it is the most <strong>direct link</strong> possible to the content.</p>
  <p>We reccomend you verify this by loading the url in private browsing to check that there is no access condition on it.</p>
</div>

<div class="well well-sm">
  <h3>Instructions for some sites:</h3>
  <p>
    <h4>OneDrive/SkyDrive:</h4>
    <ol>
      <li>Open your document in the online editor (Word Online, PowerPoint Online etc.).</li>  
      <li>Click 'File' <i class="fa fa-arrow-right"></i> 'Share' <i class="fa fa-arrow-right"></i> 'Embed'.</li>
      <li>
        Once you press 'Generate', you will be given an Embed Code that looks like:
        <pre>&lt;iframe src='<strong><u>https://onedrive.live.com/embed?cid=7A2FE2A742659A87&amp;resid=7A2FE2A742659A87%21232&amp;authkey=AFvEMqPZbq7DE2g&amp;em=2&amp;wdStartOn=1</u></strong>' width='476px' height='288px' frameborder='0'&gt;This is an embedded &lt;a target='_blank' href='http://office.com'&gt;Microsoft Office&lt;/a&gt; document, powered by &lt;a target='_blank' href='http://office.com/webapps'&gt;Office Online&lt;/a&gt;.&lt;/iframe&gt;</pre>
      </li>
      <li>Copy out the part of <strong>your code</strong> that is in the same place as the part underlined above.</li>
      <li>Paste it into the Url box above.</li>
    </ol>
  </p>

  <p>
    <h4>Google Drive/Docs:</h4>
    <ol>
      <li>Open your document in the online editor:</li>  
      <li>Click 'File' <i class="fa fa-arrow-right"></i> 'Publish to the web'.</li>
      <li>Make sure 'Require viewers to sign in' is not ticked.</li>
      <li>Copy the link given.</li>
      <li>Paste it into the Url box above.</li>      
    </ol>
  </p>
</div>