<ul class="list-group small-notes-list">
  <% if @notes.any? %>
    <% @notes.each do |n| %>
      <%= link_to n, class: "list-group-item" do %>
        <div class="note-title">
          <div class="note-list-info pull-right text-right">
            <span class="text-muted created-at"><%= n.time_for_display %></span>
            <%= noteworthies(n.vote_cache) %>
          </div>
          <%= n.title %>
          <%= content_tag(:span, n.privacy_string, class: "label label-default") unless n.priv_public? %>
          <%= note_hidden if n.hidden? %>
          <%= note_featured if n.featured? %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if block_given? %>
      <%= yield %>
    <% else %>
      <li class="list-group-item">No Notes</li>
    <% end %>
  <% end %>
</ul>
<div class="text-center"><%= paginate @notes %></div>