<h2 class="text-center">Choose a note type:</h2>

<div class="row choose-note-type">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= link_to new_note_path(type: "html_content"), class: "well well-sm" do %>
      <h3>Edit on StudyNet</h3>
      You can create and edit the content of the note right on this site with a built in word processor.
      If want to upload a photo of the notes, you may do so here.
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to new_note_path(type: "url_frame"), class: "well well-sm" do %>
      <h3>External Link</h3>
      Have your note as a reference to another document or page on the web by supplying a link to it.
      This could be a pdf, OneDrive document, etc.
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>