<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h4 class="modal-title text-center">
        <i class="fa fa-code-fork"></i> Forks of '<%= link_to @note.title, @note %>'
      </h4>
    </div>
    <div class="modal-body">
      <%= render layout: 'notes/small_list' do %>
        <li class="list-group-item">
          <h4 class="text-center">
            This note hasn't been forked yet!
          </h4>
          <p>
            Forking a note creates an identical copy of the note on your profile for you to edit.
            This is useful if for example you wanted to make an alternate version of a note
            or fix errors you believe to be in original.
            <br>
            Click the 
            <a class="btn btn-default ttp btn-sm pointer" title="Creates an identical copy which you can edit.">
              <i class="fa fa-code-fork"></i> Fork
            </a>
            button at the top left of a note to create a fork of the one you are viewing.
          </p>
        </li>
      <% end %>
    </div>
  </div>
</div>