<h2>Explore Notes</h2>
<div class="panel panel-default filter-notes">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8 sort-options">
        <strong>Sort:</strong>
        <% @sort_types.each do |st| %>
          <%= current_filter st, params.merge(:sort => st), class: "filter-option" %>
        <% end %>
      </div>
      <div class="col-sm-4">
        <form class="form-inline pull-right" role="form">
          <div class="input-group">
            <%= text_field_tag 'q', @search_q, class: "form-control", placeholder: "Search..." %>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><%= i "search" %></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ul class="list-unstyled">
  <% @notes.each do |n| %>
    <li class="listed-note">
      <div class="row">
        <%= link_to n do %>
          <p class="lead col-sm-7"><%= truncate(n.title, length: 60) %></p>
        <% end %>
        <div class="col-sm-5 text-right">
          <%# content_tag :div, nil, class: "vote note-vote pull-right", data: { avg: n.total_score } LOL, star ratings %>
          <%# note_featured if n.featured? Deciding not to here %>
          <%= note_hidden if n.hidden? %>
          <%= noteworthies n.vote_cache %>
          <div><small class="text-muted">
            <% if n.forked_from %>
              <%= i "code-fork", title: "This note was forked from another one." %>
            <% end %>
            <%= n.time_for_display %>
            <b><%= link_to n.user.name, n.user %></b>
          </small></div>
        </div>
      </div>
    </li>
  <% end %>
  <%= content_tag(:h4, "No notes to show") unless @notes.any? %>
</ul>
<%= paginate @notes %>
<br>
<div class="text-center">
  <%= link_to "Post your own notes!", new_note_path, class: "btn btn-success" %>
</div>

