<h2 class="note-heading-info">
  <%= @note.title %>
  <small>
    <%= content_tag :span, @note.privacy_string, class: "label label-default" unless @note.priv_public? %>
    <%= note_hidden if @note.hidden? %>
    <%= note_featured if @note.featured? %>
    <% if @original_fork %>
      <span class="tpp" title="The note was copyed and likely edited from another one.">
        Forked
      </span>
    <% else %>
      Posted
    <% end %>
    by <%= @is_creator ? "You" : (link_to @note.user.name, @note.user) %>
    <% if @original_fork %>
      from
      <%= link_to truncate(@original_fork.title, length: 15), @original_fork %>
    <% end %>
    <%= @note.time_for_display %>
  </small>
</h2>

<%= content_tag :div, class: "well well-sm" do %>
  <strong>Note was hidden by admin because:</strong>
  "<%= @note.hidden_reason %>"
  <br>
  You may edit a note while it's hidden to fix anything to get it visible again.
<% end if @note.hidden? %>

<div class="panel panel-default note-view">
  <div class="panel-heading note-options">
    <div class="btn-group">
      <%= link_to new_note_path(forking: @note.id), class: "btn btn-default ttp mbs",
            title: "Creates an identical copy which you can edit." do %>
        <%= i "code-fork" %> Fork
      <% end %>

      <% if @note.url_frame? %>
        <%= link_to @note.content, class: "btn btn-default ttp",
              title: "View content on original site (new tab).", target: "_blank" do %>
          <%= i "globe" %> Original
        <% end %>
      <% end %>

      <%= link_to "Admin", admin_note_path(@note), class: "btn btn-warning remote-modal" if current_user.try(:admin?) %>

      <% if @is_creator %>
        <%= link_to 'Delete', note_path(@note), method: :delete, class: "btn btn-danger",
                    data: { confirm: 'Confirm deletion of note?' } %>
        <% if @note.editable %>
          <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-info' %>
        <% else %>
          <span class="ttp" title="You may only edit public posts within 24 hours of creation." data-toggle="tooltip">
            <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-info disabled edit-btn' %>
          </span>
        <% end %>
      <% end %>
    </div>

    <% if @is_creator || !current_user %>
      <%= content_tag :button, class: "btn btn-default pull-right creator-noteworthy not-nw disabled ttp mbs",
            title: @is_creator ? "You may not noteworthy your own note." : "You must sign in to noteworthy." do %>
        <%= i "star" %>
        <span class="vote-count"><%= @note.vote_cache %></span>
      <% end %>
    <% else %>
      <%= content_tag :button, data: { note_id: @note.id },
            class: "btn btn-default pull-right noteworthy #{@user_has_voted ? 'is-nw' : 'not-nw'}" do %>
        <%= i "star" %>
        Noteworthy
        <span class="vote-count"><%= @note.vote_cache %></span>
      <% end %>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <% if @note.html_content? %>
    <div class="panel-body note-content html-content">
      <%= @note.content.html_safe %>
    </div>
  <% elsif @note.url_frame? %>
    <div class="panel-body note-content no-padding">
      <%= content_tag(:iframe, "", src: @note.content, class: "note-iframe") %>
    </div>
  <% else %>
    <div class="alert alert-danger">Error displaying note. (no note type)</div>
  <% end %>

  <div class="panel-footer no-padding">
    <span class="view-count">
      <strong>Views:</strong>
      <%= number_with_delimiter @note.view_count %>
    </span>
    |
    <span class="note-link">
      <strong>link:</strong>
      <%= link_to note_url(@note) do %>
        <code><%= note_url(@note) %></code>
      <% end %>
    </span>
    |
    <%= link_to "Forks", forks_note_path(@note), class: "remote-modal" %>
  </div>
</div>

<%= render "disqus" %>