<h2>
  <%= content_tag :i, nil, class: "fa fa-user" unless @dash %>
  <%= @user.name %>
  <small>
    <%= content_tag :span, "Admin", class: "label label-info" if @user.admin? %>
    <%= "(You)" if @dash %>
  </small>
</h2>
<div class="well well-sm">
  <div class="profile-karma">
    <% if @user.karma > 0 %>
      <%= content_tag(:strong, @user.karma) %> karma
    <% else %>
      No karma
      <small><small>...yet</small></small>
    <% end %>
  </div>

  <% if @medals.any? %>
    <div class="profile-medals">Medals<br><%= medals_content(@medals) %></div>
  <% end %>
  <h4 class="text-center">Joined on <%= @user.created_at.strftime("%F") %></h4>
</div>