<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h4 class="modal-title text-danger">Confirm account deletion.</h4>
    </div>
    <div class="modal-body">
      <small>Enter your password to confirm. This action is permanent.</small>
      <%= form_tag user_registration_path, method: :delete do %>
        <div class="form-group">
          <div class="input-group">
            <%= password_field_tag :current_password, nil, class: "form-control", placeholder: "*********" %>
            <span class="input-group-btn">
              <%= submit_tag "Delete", class: "btn btn-danger" %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>