<%= link_to root_path, class: "back-to-profile" do %>
  <i class="fa fa-arrow-circle-left"></i> Back to my profile
<% end %>

<div class="modal-dialog account-settings">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Account Settings</h4>
    </div>
    <div class="modal-body">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <% if devise_error_messages!.present? %>
          <div class="alert alert-danger smalert devise-error"><%= devise_error_messages! %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :email, class: "control-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <small><strong>Unless you want to change your password, leave these blank.</strong></small>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :password, "New password", class: "control-label" %>
              <%= f.password_field :password, :autocomplete => "off", class: "form-control input-sm" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
              <%= f.password_field :password_confirmation, :autocomplete => "off", class: "form-control input-sm" %>
            </div>
          </div>
        </div>

        <strong><small>To confirm any changes, enter your <u>current</u> password below.</small></strong>

        <div class="form-group">
          <%= f.label :current_password, class: "control-label" %>
          <div class="input-group">
            <%= f.password_field :current_password, class: "form-control", placeholder: "*********" %>
            <span class="input-group-btn">
              <%= f.submit "Save Changes", class: "btn btn-success" %>
            </span>
          </div>
        </div>
      <% end %>
      
      <div class="alert alert-danger delete-account-box">
        <p><strong>Delete StudyNet Account</strong></p>
        <p>
          <small>
            If you click the button below, all information related to your account on studynet will be removed.
            This includes all notes, goals and noteworthies.
          </small>
        </p>
        <p>
          <%# button_to "Destroy account and all data?",
                        registration_path(resource_name),
                        class: "btn btn-sm btn-danger",
                        data: { confirm: "Are you sure about this?" },
                        method: :delete %>
          <%= button_tag "Proceed with deleting account", class: "btn btn-sm btn-danger remote-modal", data: { modalpath: "/u/delete_account" } %>
        </p>
      </div>
    </div>
  </div>
</div>