<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h4 class="modal-title">Create an account</h4>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <%= link_to "Already have an account?", new_user_session_path, class: "remote-modal", data: { modal: "login" } %>
      </div>
      <% if !@is_modal && devise_error_messages!.present? %>
        <div class="alert alert-danger smalert devise-error"><%= devise_error_messages! %></div>
      <% end %>
      <%= form_for("user", :url => user_registration_path) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, placeholder: "John Smith", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "user@example.com", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "**********" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "same again" %>
        </div>

        <%= render 'captcha' %>

        <div><%= f.submit "Register", class: "btn btn-success" %></div>
      <% end %>
    </div>
  </div>
</div>