<div class="row profile">
  <div class="col-sm-4">
    <%= render 'user_info' %>
  </div>
  <div class="col-sm-8">
    <h3>Notes created by <%= @user.name %></h3>
    <%= render layout: 'notes/small_list' do %>
      <li class="list-group-item">This user hasn't posted any notes :(</li>
    <% end %>
  </div>
</div>