<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 notifications-page">
    <h2 class="text-center text-success">
      <i class="fa fa-bell-o"></i> All Notifications
    </h2>

    <ul class="list-group small-notes-list">
      <% if @notifications.any? %>
        <% @notifications.each do |n| %>
          <%= link_to_if_with_block n.should_be_clickable?, n,
              class: "list-group-item #{'unclicked' unless n.clicked_at}" do %>
            <div class="note-title">
              <div class="note-list-info pull-right text-right">
                <span class="text-muted created-at"><%= n.time_for_display %></span>
              </div>
              <%= i(n.icon_class) %>
              <%= n.content %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <li class="list-group-item">No notifications :(</li>
      <% end %>
    </ul>
    <div class="text-center"><%= paginate @notifications %></div>
  </div>
</div>