<div class="row featured-notes">
  <h3><%= note_featured %> Featured notes:</h3>
  <% Note.featured_front.each do |n| %>
    <div class="col-lg-2 col-md-3 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="note-title">
            <span class="pull-right"><%= noteworthies(n.vote_cache) %></span>
            <%= truncate(n.title, length: 40) %>
          </div>
        </div>
        <div class="panel-body">
          <%= truncate(n.short_text, length: 200) %>
        </div>
      </div>
    </div>
  <% end %>
</div>