<h1 class="text-danger text-center">Project now inactive :(</h1>

<h1>About</h1>

<p class="lead">StudyNet is a study social network and the first of its kind.</p>

It was created by Conor Bolger, Rory Hughes and Sean Murphy. Conor and Sean are 1st year Trinity College students and Rory is a 5th year Gonzaga College student.

<h2>Founders</h2>
<div class="founders row">
  <div class="col-sm-4" title="Sean">
    <h3>Sean</h3>
    <img src="/sean.jpeg" alt="Sean" class="img-circle">
    <p>
      <strong>sean</strong> at <strong>studynet</strong> dot <strong>me</strong>
    </p>
  </div>
  <div class="col-sm-4" title="Rory">
    <h3>Rory</h3>
    <img src="/rory.jpeg" alt="Rory" class="img-circle">
    <p>
      <strong>rory</strong> at <strong>studynet</strong> dot <strong>me</strong>
    </p>
  </div>
  <div class="col-sm-4" title="Conor">
    <h3>Conor</h3>
    <img src="/conor.jpeg" alt="Conor" class="img-circle">
    <p>
      <strong>conor</strong> at <strong>studynet</strong> dot <strong>me</strong>
    </p>
  </div>
</div>

<br>
The Web App was created to combat the difficulties that 2nd and 3rd level students face when it comes to study. It gives users the ability to access notes, join private groups, create personal timetables, set goals and access past exam papers and solutions. 
StudyNet aims to be the study site that 2nd and 3rd level students worldwide use to achieve their best in exams.

<h2>FAQ:</h2>

<dl>
  <dt>What is 'forking a note'?</dt>
  <dd>
    Forking a note is creating a copy of the note on your profile which you can edit.
    This is useful for example if you want to make edits or improvement of your own.
    Forking a note also references the original one, giving credit to the author.
  </dd>
  <dt>When I mark something as 'noteworthy' and refresh, it doesn't count my vote.</dt>
  <dd>
    The votes placed take a maximum of one minute to process.
    After that, your vote should be added to the total.
    If you are sure that it isn't changing as a consequence of you voting, send an email to Rory (above).
  </dd>
  <dt>Is there a StudyNet smartphone app?</dt>
  <dd>
    At this moment unfortunately not.
    However, we do expect to release one soon.
    We want to get the web app fully functional first before we start building the mobile version.
    If you do need to access StudyNet on the go, the site is optimised for mobile devices and should run well in the web browser on most smartphones.
  </dd>
</dl>

<h3><%= link_to "Change Log/Versions", changelog_path %></h3>
