<h3>Changelog</h3>

<% @versions.each do |v| %>
  <h5><%= v["version_str"] %> <small><%= v["date"].strftime("%A, %F at %T") %></small></h5>
  <ul>
    <% v["changes"].each do |c| %>
      <li><%= c %></li>
    <% end %>
  </ul>
<% end %>

<h3>Upcoming features</h3>

<% @upcoming.each do |f| %>
  <h4><%= f["title"] %></h4>
  <p><%= f["desc"] %></p>
<% end %>