<div class="row dashboard">
  <div class="col-sm-4">
    <%= render 'devise/registrations/user_info' %>
    <div class="places">
      <%= link_to nw_path, class: "btn btn-default", title: "Note you have marked Noteworthy" do %>
        <i class="fa fa-star"></i> Noteworthies
      <% end %>
      <%= link_to new_note_path, class: "btn btn-default" do %>
        <i class="fa fa-file"></i> Create Note
      <% end %>
      <%= link_to goals_path, class: "btn btn-default" do %>
        <i class="fa fa-list"></i> Goals
      <% end %>
      <%= link_to notifications_path, class: "btn btn-default" do %>
        <i class="fa fa-bell-o"></i> Notifications
        <span class="label label-danger">New</span>
      <% end %>
      <%= link_to edit_user_registration_path, class: "btn btn-default" do %>
        <i class="fa fa-cogs"></i> Account Settings
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default" do %>
        <i class="fa fa-sign-out"></i> Logout
      <% end %>
    </div>
  </div>
  <div class="col-sm-8">
    <h3>Notes created by you:</h3>
    <%= render layout: 'notes/small_list' do %>
      <%= link_to "You haven't created any notes! Click here to do so now.", new_note_path, class: "list-group-item" %>
    <% end %>
  </div>
</div>
