<div class="jumbotron marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-6 basic-info">
        <h2 class="text-center">Finding school stressful?</h2>
        <p class="lead text-center">Use StudyNet to:</p>

        <table class="feature-list list-unstyled lead">
          <tr>
            <td><i class="fa fa-copy"></i></td>
            <td>View and share <strong>notes</strong> with students studying the same subjects.</td>
          </tr>
          <tr>
            <td><i class="fa fa-check-square-o"></i></td>
            <td>Set <strong>goals</strong> and reach your targets.</td>
          </tr>
          <tr>
            <td><i class="fa fa-group"></i></td>
            <td>
              Coming soon: <strong>groups</strong>
              for you and your class to collaborate.
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-calendar"></i></td>
            <td>
              More features upcoming include <strong>study timetables</strong> and
              past <strong>exam paper</strong> integration.
            </td>
          </tr>
        </table>
        <%= link_to "Join StudyNet now!", new_user_registration_path,
            class: "remote-modal btn btn-success btn-lg btn-block join-us" %>
        <%= render "fb_like" %>
      </div>
      <div class="col-md-6">
        <div class="text-center text-muted video-lead">Watch video to learn more...</div>
        <iframe width="100%" class="video" src="//www.youtube.com/embed/yDl30isPpkg?modestbranding=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%= render 'featured_notes' %>
