<h2>Goals and timetables coming soon</h2>

<div class="row">
  <div class="col-md-8">
    <h3>My study timetable</h3>
    <table class="table">
      <tr><td>#</td><td>Sunday</td><td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Fridays</td><td>Saturday</td></tr>
      <tr><td>8</td><td></td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td></td></tr>
      <tr><td>9</td><td></td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td></td></tr>
      <tr><td>10</td><td>Football Match</td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td></td></tr>
      <tr><td>11</td><td>Football Match</td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td>History </td></tr>
      <tr><td>12</td><td>Football Match</td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td>French</td></tr>
      <tr><td>13</td><td></td><td>School</td><td>School</td><td>School</td><td>School</td><td>School</td><td></td></tr>
      <tr><td>14</td><td>Maths</td><td>School</td><td>School</td><td></td><td>School</td><td>School</td><td>Geography</td></tr>
      <tr><td>15</td><td>Geography</td><td>School</td><td>School</td><td>Ultimate Frisbee</td><td>School</td><td>School</td><td>Maths</td></tr>
      <tr><td>16</td><td>Chemistry</td><td></td><td></td><td>Ultimate Frisbee</td><td></td><td></td><td></td></tr>
      <tr><td>17</td><td></td><td>Irish</td><td>History</td><td></td><td>Business</td><td>Geography</td><td>Physics</td></tr>
      <tr><td>18</td><td>French Vocab</td><td>Maths</td><td>Maths</td><td>Irish</td><td>Business</td><td>Maths</td><td></td></tr>
      <tr><td>19</td><td></td><td>Physics</td><td>Football Training</td><td>Latin</td><td>Physics</td><td></td><td>Relax :)</td></tr>
      <tr><td>20</td><td></td><td></td><td>Football Training</td><td></td><td></td><td>Latin</td><td></td></tr>
      <tr><td>21</td><td></td><td>Latin</td><td></td><td></td><td>Physics</td><td></td><td></td></tr>
      <tr><td></td></tr>
    </table>

  </div>
  <div class="col-md-4">
    <h3>Goal progress</h3>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".panel-group" href="#collapseOne">
              French Exam
              <span class="pull-right text-info">50%</span>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                <span class="sr-only">50% Complete (success)</span>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked>
                Perfect Tense
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Vocabulary
              </label>
            </div>
            <input placeholder="Add a task..." class="form-control">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent=".panel-group" href="#collapseTwo">
              Triginometry Study
              <span class="pull-right text-info">75%</span>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                <span class="sr-only">75% Complete (success)</span>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked>
                Half angle formula
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Practise Graph drawing
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked>
                Try past paper questions
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked>
                Chapter summary questions
              </label>
            </div>
            <input placeholder="Add a task..." class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>