<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 marked-as-nw">
    <%= link_to root_path, class: "back-to-profile" do %>
      <i class="fa fa-arrow-circle-left"></i> Back to my profile
    <% end %>
    <h2 class="text-center text-success">
      <i class="fa fa-star"></i> Noteworthies
    </h2>
    <p class="text-center"><small>(Notes you have marked as noteworthy)</small></p>

    <%= render layout: 'notes/small_list', link_to_assoc: :votable do %>
      <li class="list-group-item">
      <h4 class="text-center">
        You haven't marked any notes as noteworthy!
      </h4>
      <p>
        <br>
        Click the 
        <button class="btn btn-default btn-sm noteworthy not-nw nw-example">
          <i class="fa fa-star"></i>
          Noteworthy
          <span class="vote-count">5</span>
        </button>
        button at the top right of a note to both <strong>give the creator credit</strong>
        and <strong>bookmark it</strong> to this page for later viewing.
      </p>
      </li>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>