<%# Link to the "First" page
  - available local variables
    url:           url to the first page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="first">
  <%= link_to url, :remote => remote do %>
    <i class="fa fa-chevron-left"></i> First
  <% end unless current_page.first? %>
</li>
