<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h4 class="modal-title">Sign in</h4>
    </div>
    <div class="modal-body">
      <%= form_for("user", :url => user_session_path) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "user@example.com" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "**********" %>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>

        <div><%= f.submit "Login", class: "btn btn-success" %></div>
        <%= link_to "Create an account", new_user_registration_path,
            class: "remote-modal", data: { modal: "register" } %>
        <br>
        <%= link_to "Forgot your password?", new_password_path("user") %>
      <% end %>
    </div>
  </div>
</div>