<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h3 class="modal-title text-center">Admin Note</h3>
    </div>
    <div class="modal-body">
      <h4 class="text-center">'<%= @note.title %>' <small>From user <%= link_to @note.user.name, @note.user %></small></h4>

      <% if @note.errors.any? %>
        <div class="saving-errors panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %>:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @note.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="well well-sm">
        <h5 class="text-center"><strong>Note Visibility</strong></h5>
        <% if @hider %>
          Note was hidden on <%= @note.hidden.strftime("%F %R") %> by <%= link_to @hider.name, @hider %> because:
          <%= content_tag :div, "\"#{@note.hidden_reason}\"" %>
          <%= form_for @note, url: admin_note_unhide_path do |f| %>
            <%= f.submit "Unhide note", class: "btn btn-success btn-block" %>
          <% end %>
        <% else %>
          Note is visible
          <%= form_for @note, url: admin_note_hide_path do |f| %>
            <%= f.text_area :hidden_reason, class: "form-control", placeholder: "Reason for hiding note" %>
            <%= f.submit "Hide note", class: "btn btn-danger btn-block" %>
          <% end %>
        <% end %>
      </div>

      <div class="well well-sm">
        <% if @note.featured? %>
          Note was featured on <%= @note.featured.strftime("%F %R") %> by <%= link_to @featurer.name, @featurer %>
          <%= form_for @note, url: admin_note_unfeature_path do |f| %>
            <%= f.submit "Unfeature", class: "btn btn-danger btn-block" %>
          <% end %>
        <% else %>
          <%= form_for @note, url: admin_note_feature_path do |f| %>
            <%= f.submit "Feature note", class: "btn btn-success btn-block" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>