<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8" id="goals-app">
  <h1 class="text-center">Goals</h1>
  <div class="well well-sm">
    <form id="add-goal" class="btn-group">
      <div class="btn-toolbar" role="toolbar">
        <div class="input-group add-goal-controls">
          <input class="form-control" type="text"
                  placeholder="What you're working towards...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info">
              <i class="fa fa-plus"></i>
            </button>
          </span>
        </div>
        <div class="btn-group misc-options">
          <button type="button" class="btn btn-default reload-goals" title="Reload goals">
            <i class="fa fa-refresh"></i>
          </button>
          <%= link_to goals_info_path, class: "btn btn-default goals-help remote-modal", title: "What's this?" do %>
            <i class="fa fa-question"></i>
          <% end %>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-group goals-list">
  </div>
  <div class="no-goals hidden text-center">
    <h3><i class="fa fa-hand-o-up"></i></h3>
    <h3>You haven't created any Goals yet! Add one above.</h3>
    <h4>Learn more by pressing the <i class="fa fa-question"></i> button.</h4>
  </div>
</div>
<div class="col-md-2"></div>
</div>

<script type="text/javascript">
  sn.l(true);
  sn.loadGoals();
</script>