<div class="modal-dialog">
  <%= link_to goals_path, class: "back-to-profile" do %>
    <i class="fa fa-arrow-circle-left"></i> Back to my goals
  <% end unless @is_modal %>
  <div class="modal-content">
    <div class="modal-header">
      <%= close_modal %>
      <h3 class="modal-title text-center">What are Goals?</h3>
    </div>
    <div class="modal-body">
      <h4>StudyNet Goals are designed to help you organise your work.</h4>
      <p>
        Whether it's starting off, staying focused, keeping track of what you've done, need to do or just about anything else, goals are here for you!<br><br>
        You can start off each study period, be it a week or a month, by creating goals.
        Challenging yet optimistic goals will drive you on in your study and help you achieve better results.
      </p>
      <br>
      <strong>How to use it:</strong>
      <br>
      <ul>
        <li>To create a new goal, type a title into the box at the top and press enter.</li>
        <li>The goal will then appear below. You can add tasks by entering a description of what's required in the box at the bottom of the goal.</li>
        <li>Once you complete each task, you can tick it off your list by clicking the <i class="fa fa-square-o"></i> on the left.</li>
        <li>To remove a task from the list, hover over it and click the <i class="fa fa-times-circle g-t-destroy" style="color: #FC3939"></i>.</li>
        <li>To change a goal's title, press the <i class="fa fa-pencil-square-o"></i> button and enter a new one at the top. Hit enter to save.</li>
        <li>If you want to delete a goal (including all of its tasks), press the <i class="fa fa-trash-o"></i>.</li>
        <li>The <i class="fa fa-refresh"></i> button reloads the goal list.</li>
      </ul>

      <small>Your goals are not shared and cannot be accessed by any other users.</small>
    </div>
  </div>
</div>