// Goals
$textoutline: #9ACCFF;
#goals-app {
  a {
    color: #428bca;
    &:hover, &:focus { color: #2a6496; }
  }
  .well-sm {
    border-radius: 0;
    background-color: #DEFAFF;
    border: 1px solid $textoutline;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 35, 255, 0.26);
    box-shadow: inset 0 1px 5px rgba(0, 35, 255, 0.26);
  }
  input[type="text"] {
    border: 1px solid $textoutline;
  }
  #add-goal {
    .add-goal-controls {
      width: -moz-calc(100% - 85px);
      width: -webkit-calc(100% - 85px);
      width: -o-calc(100% - 85px);
      width: calc(100% - 85px);
    }
    input {
      padding: 4px 6px;
    }
    .misc-options {
      float: right;
      .reload-goals {
        border-radius: 100px 0 0 100px;
      }
      .goals-help {
        border-radius: 0 100px 100px 0;
      }
      .btn {
        border-color: $textoutline;
        &:focus {
          background-color: #ffffff;
        }
        &:hover, &:active {
          background-color: #DEFAFF;
        }
      }
    }
  }
  .goal {
    border-radius: 0;
    border-bottom: 1px solid $textoutline;
    .panel-heading {
      padding: 0px;
      .panel-title {
        padding: 10px 15px;
      }
    }
    .goal-title {
      .edit-title {
        display: inline-block;
      }
    }
    .progress {
      height: auto;
      margin-bottom: 0;
      border-radius: 0;
      background-color: #DEFAFF;
      .progress-bar {
        font-size: 11px;
        line-height: 14px;
      }
    }
    .none-complete {
      font-size: 11px;
      line-height: 14px;
    }
    .panel-body {
      padding: 0;
    }
    .g-options {
      .list-inline {
        margin: 5px 0 0 0;
      }
    }
    .g-add-todo input {
      border-radius: 0px;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }
  .todo-list {
    margin-bottom: 5px;
    &.undone-todos {
    }
    &.done-todos {
      .todo-content {
        text-decoration: line-through;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .todo.row {
    margin: 0px;
    border-bottom: solid 1px #d7e7ff;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
    .col-checkbox {
      width: 24px;
      float: left;
      padding: 0 5px;
      label {
        margin-bottom: 0;
        font-size: 16px;
        color: #428bca;
        vertical-align: top;
        cursor: pointer;
        &:hover {
          color: #214ba5;
        }
      }
    }
    .col-content {
      margin-left: 24px;
      margin-right: 24px;
    }
    .col-destroy {
      width: 24px;
      position: absolute;
      top: 0;
      right: 0;
      .g-t-destroy {
        font-size: 18px;
        cursor: pointer;
        display: none;
        color: #ff8e8d;
        padding: 4px 3px 0 0;
        &:hover {
          color: #FC3939;
        }
      }
    }
    &:hover .g-t-destroy {
      display: block;
    }
  }

  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox] + span:before {
    font-family: "FontAwesome";
    width: 1.0em;
    display: inline-block;
  }
  input[type=checkbox] + span:before { content: "\f096"; }
  input[type=checkbox]:checked + span:before { content: "\f046"; }
}

html.touch-device #goals-app .col-destroy .g-t-destroy {
  display: block !important;
}

