// Notes
.filter-notes {
  .panel-body {
    padding: 8px;
    .sort-options {
      padding-top: 6px;
      padding-bottom: 6px;
    }
    .filter-option {
      padding-right: 5px;
      border-right: solid 1px #aaaaaa;
      color: #555555;
      &:last-child {
        border: none;
      }
    }
    .current-filter {
      font-weight:bold;
      text-decoration: underline;
      color: $link;
    }
  }
}
.listed-note {
  border-bottom: solid 1px #8cc894;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  display: block;
  &:last-child {
    border-bottom: none;
  }
  .lead
  {
    margin-bottom: 0;
  }
  .featured-icon {
    font-size: 12px;
  }
}

// Show note
.creator-noteworthy, .noteworthy {
  border-radius: 0 17px 0 0;
  &.is-nw {
    color: #ffffff;
    background-color: #50CF50;
    border-color: #217D21;
    .vote-count { color: #eeddee; }
  }
  &.not-nw .vote-count { color: #999999; }
}
.note-heading-info {
  font-size: 26px;
}
.note-view {
  border-radius: 0 20px 0 0;
  .note-options {
    padding: 3px;
    border-radius: 0 20px 0 0;
  }
  .edit-btn {
    border-radius: 0px 4px 4px 0;
  }
  button.disabled.creator-noteworthy {
    opacity: 1.0;
    pointer-events: auto;
  }
  .panel-body.note-content {
    &.no-padding {
      padding: 0;
    }
    .note-iframe {
      width: 100%;
      min-height: 800px;
      border: none;
    }
    &.note-content {
      overflow: scroll;
    }
  }
  .panel-footer {
    padding: 3px;
    background-color: #fefefe;
    text-align: center;
  }
}

//Note form
.note-editor {
  margin-bottom: 0px;
}
.note-tips {
  dl {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.note-instructions {
  margin-top: 10px;
}

// Choose type
.choose-note-type {
  a {
    cursor: pointer;
    color: #363636;
    &:hover {
      text-decoration: none;
    }
  }
  .well {
    display: block;
    h3 {
      margin-top: 3px;
    }
    &:hover {
      -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 196, 50, 1);
      -moz-box-shadow:    0px 2px 8px 0px rgba(50, 196, 50, 1);
      box-shadow:         0px 2px 8px 0px rgba(50, 196, 50, 1);
    }
  }
}

// Small note list
.small-notes-list {
  .list-group-item {
    border-radius: 0;
  }
  .note-title {
    width: 100%;
  }
}

// Profile
.profile, .dashboard {
  .profile-karma {
    font-size: 40px;
    text-align: center;
  }
  .well {
    background-color: #fdfdfd;
  }
  .profile-medals {
    text-align: center;
    .medal {
      font-size: 30px;
      margin-right: 9px;
      &:last-child { margin-right: 0; }
    }
  }
}

.dashboard {
  .places .btn {
    margin-bottom: 5px;
  }
}

// Marked as noteworthy
.marked-as-nw {
  h2 {
    margin-top: 10px;
  }
}