$outline: #5AC666;
$outline-light: #A2EDA5;
$outline-dark: #00BB01;
$link: #008708;
$link-h: #00b61b;
$nav-highlight: #CDFFCD;
html
{
  height: 100%;
  vertical-align: baseline;
}
body
{
  min-height: 100%;
  vertical-align: baseline;
  position: relative;
}
a {
  color: $link;
  &:hover, &:focus {
    color: $link-h;
  }
}
*:focus {
  outline: none !important;
}
.pointer {
  cursor: pointer;
}
.smalert {
  padding: 3px;
  margin-bottom: 0;
  border-radius: 0;
  border-left: none;
  border-right: none;
  ul {
    padding-left: 25px;
  }
}
form {
  width: 100%;
}

.scrollbar-always, .note-editable {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.field_with_errors .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline {
  color: #a94442;
}
.field_with_errors .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.field_with_errors .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.field_with_errors .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.field_with_errors .form-control-feedback {
  color: #a94442;
}
.input-group .form-control:last-child {
  border-radius: 4px 0 0 4px;
}

// ReCaptcha
#dynamic_recaptcha {
  div#recaptcha_image, div#recaptcha_image img#recaptcha_challenge_image {
    width: 100% !important;
    height: auto !important;
  }
  .captcha-options div {
    display: inline-block;
    font-size: 17px;
  }
}

.text-successer {
  color: $outline;
}
.pagination  {
  margin: 0;
}

@media (max-width: 767px) {
  // MMMARGINS.
  .modal-dialog {
    margin: 5px 0;
  }
  .modal .modal-dialog {
    margin: 0;
  }
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal .modal-content {
  // Only show box-shadows on flying
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.42);
}
.modal-header, .modal-body, .modal-footer {
  padding: 9px;
}
span.ttp {
  display: inline-block;
}
.medal {
  .fa-stack-2x {
    text-shadow: 0px 1px 3px #aaaaaa;
  }
  .bronze {
    color: #B87333;
  }
  .silver {
    color: #d8dffa;
  }
  .gold {
    color: #D9D919;
  }
  .fa-stack-1x {
    color: #ffffff;
    text-shadow: 0px 1px 2px #cccccc;
  }
}
.featured-icon {
  cursor: help;
  .fa-stack-2x { color: #b60500; }
  .fa-stack-1x { color: #ffffff; }
  &:hover .fa-stack-2x { color: #e20500; }
}
.badge.nw {
  background-color: #5cb85c;
}
.devise-error {
  h2 {
    margin-top: 3px;
    font-size: 15px;
  }
  ul {
    margin-bottom: 0;
  }
}

// Layout
.page-container {
  padding-top: 51px;
  padding-bottom: 135px;
  overflow-x: hidden;
}
.sn-container {
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
}
.navbar-default {
  background-color: rgba(230, 255, 230, 0.95);
  border-color: $outline;
  .notification-label {
    display: none;
  }
  .logo-link {
    height: 50px;
    display: inline-block;
    position: relative;
    &:hover {
      background-color: $nav-highlight;
    }
    &:active .site-logo {
      margin-top: 6px;
    }
  }
  .site-logo {
    margin-top: 5px;
  }
  @media (max-width: 767px) {
    .navbar-nav {
      margin: 0 -15px;
    }
    .notification-label {
      display: inline;
    }
    .navbar-header {
      margin-left: 0;
    }
  }
  .navbar-collapse {
    border: none;
  }
  .nav .open>a, .nav .open>a:hover {
    border-color: $outline-light;
  }
  ul.nav {
    > li {
      &.open a.dropdown-toggle {
        background-color: $nav-highlight;
      }
      .dropdown-menu {
        border-radius: 0;
      }
      > a {
        padding-top: 13px;
        color: #575757;
        transition: all 0.2s;
        &:hover {
          background-color: $nav-highlight;
          text-decoration: underline;
        }
        &.current-page {
          padding-top: 11px;
          color: #000000;
          font-weight: 500;
        }
        &.new-note-nav {
          color: #000000;
          font-weight: bold;
        }
        @media (min-width: 768px) {
          border-top: solid 2px $outline-dark;
          &:hover, &.current-page {
            border-top: solid 4px #00bb01;
            padding-top: 11px;
            &.notification-btn {
              padding-top: 8px;
            }
          }
        }
        @media (max-width: 767px) {
          border-top: solid 1px $outline-light;
          &.current-page {
            border-left: solid 6px $outline-dark;
          }
        }
      }
    }
  }
  ul.nav a.notification-btn {
    padding: 10px 15px 10px 15px;
    i.bell-icon {
      color: $outline-dark;
      font-size: 29px;
    }
    .fa-stack-2x {
      font-size: 14px;
      color: white;
      display: inline;
      font-weight: 700;
    }
    .label {
      color: white;
      background-color: $outline-dark;
      vertical-align: super;
    }
    &:hover {
      text-decoration: none;
    }
    &.none {
      .bell-icon:before {
        content: "\f0a2";
      }
    }
    &.some {
      .bell-icon:before {
        content: "\f0f3";
      }
    }
  }
  .notification-list {
    width: 300px;
    max-height: 290px;
    padding: 0px;
    overflow-y: scroll;
    li {
      border-bottom: solid 1px $outline-light;
      width: 100%;
      &:last-child {
        border-bottom: none;
      }
      a.unclicked {
        background-color: #e7ffe9;
      }
      a {
        white-space: normal;
        padding: 3px;
        &:hover {
          background-color: #d4ffd4;
        }
      }
    }
    .nicon {
      font-size: 14px;
      display: inline-block;
      width: 20px;
      vertical-align: top;
      text-align: center;
    }
    .ncontent {
      font-size: 12px;
      display: inline-block;
      width: -moz-calc(100% - 25px);
      width: -webkit-calc(100% - 25px);
      width: -o-calc(100% - 25px);
      width: calc(100% - 25px);
      // .msg {
      //   width: 100%;
      //   display: inline-block;
      // }
      .created {
        // float: right;
        white-space: nowrap;
      }
    }
  }
  .user-dropdown {
    .dropdown-menu > li > a {
      padding: 3px 13px;
    }
  }
  @media (max-width: 767px) {
    .notification-list {
      width: auto;
    }
    .dropdown-menu > li > a {
      padding: 5px 25px;
    }
  }
}
.loading {
  position: fixed;
  width: 130px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 2000;
  padding: 4px 0px;

  border-radius: 0 0 4px 4px;
  border: solid 1px $outline;
  border-top: 0px;
  text-align: center;
  font-size: 19px;
  transition: top 0.1s;
  transition-delay: 0.1s;
  background-color: #047518;
  color: #ffffff;
  &.ready {
    top: -50px;
  }
}
.main-footer
{
  font-size: 13px;
  min-height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  .footer-content {
    border-top: 1px solid #e3e3e3;
    padding-top: 5px;
  }
}

// Front page
.marketing {
  padding-top: 6px;
  padding-bottom: 10px;
  padding: 6px 0 0px 0;
  margin-bottom: 0px;
  .basic-info {
    h2 {
      margin: 10px 0;
    }
    p {
      margin-bottom: 5px;
    }
    .feature-list {
      margin-bottom: 3px;
      td {
        font-size: 19px;
        line-height: 21px;
        padding-bottom: 12px;
        padding-left: 8px;
      }
    }
  }
  .video-lead {
    padding-bottom: 4px;
  }
  .video {
    height: 315px;
  }
  .join-us {
    margin-bottom: 4px;
  }
  .fb-like {
    margin-bottom: 4px;
  }

  border-bottom: solid 1px $outline;

  $grad_top: #f9fff8;
  $grad_bottom: #e6ffe8;
  background: $grad_top;
  background: -moz-linear-gradient(top, $grad_top 0%, $grad_bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grad_top), color-stop(100%,$grad_bottom));
  background: -webkit-linear-gradient(top, $grad_top 0%,$grad_bottom 100%);
  background: -o-linear-gradient(top, $grad_top 0%,$grad_bottom 100%);
  background: -ms-linear-gradient(top, $grad_top 0%,$grad_bottom 100%);
  background: linear-gradient(to bottom, $grad_top 0%,$grad_bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grad_top', endColorstr='$grad_bottom',GradientType=0 );
}

.contact {
  dt {
    font-size: 20px;
  }
}

.no-user .featured-notes {
  padding: 0px 25px;
  width: 100%;
}
.featured-notes {
  .featured-icon {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .panel-heading {
    padding: 3px;
  }
  .panel-body {
    padding: 6px;
  }
}

.back-to-profile {
  margin: 10px 0 5px 0;
  display: block;
}

// Account Settings
.account-settings {
  .delete-account-box {
    margin-bottom: 0;
  }
  .edit_user {
    border-bottom: solid 1px #cccccc;
    margin-bottom: 15px;
  }
}

// About
.founders {
  margin-top: 20px;
  text-align: center;
  h3 {
    margin-top: 5px;
  }
  img {
    width: 70%;
    padding: 0 25%;
  }
  p {
    font-size: 13px;
  }
}

// Notifications page
.notifications-page {
  h2 {
    color: $outline-dark;
  }
  .list-group-item.unclicked {
    background-color: #e7ffe9;
  }
}
