<div id="dynamic_recaptcha" class="form-group" style="display:none">
  <label>Captcha</label>
  <div id="recaptcha_image"></div>
  <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

  <span class="recaptcha_only_if_image">Enter the words above:</span>
  <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

  <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="form-control input-sm" />

  <div class="captcha-options">
    <div title="Get another CAPTCHA">
      <a href="javascript:Recaptcha.reload()"><i class="fa fa-refresh"></i></a>
    </div>
    <div title="Get an audio CAPTCHA" class="recaptcha_only_if_image">
      <a href="javascript:Recaptcha.switch_type('audio')"><i class="fa fa-volume-up"></i></a>
    </div>
    <div title="Get an image CAPTCHA" class="recaptcha_only_if_audio">
      <a href="javascript:Recaptcha.switch_type('image')"><i class="fa fa-picture-o"></i></a>
    </div>
    <div title="Help">
      <a href="javascript:Recaptcha.showhelp()"><i class="fa fa-question-circle"></i></a>
    </div>
    <small>Powered by ReCaptcha</small>
  </div>
</div>
<%= recaptcha_tags ajax: true, display: {theme: 'custom'}, ssl: true %>