<p class="text-center">
  <%= link_to "Show comments...", request.fullpath, class: "show-disqus" %>
</p>
<div id="disqus_thread"></div>
<script type="text/javascript">
  $(".show-disqus").click(function(e) {
    e.preventDefault();
    $(this).parent().hide();
    if (window.disqus_id) {
      var disqus_shortname = "<%= $keys["disqus"]["shortname"] %>";
      var disqus_identifier = window.disqus_id;
      <% if @disqus_title %>
      var disqus_title = "<%= @disqus_title %>";
      <% end %>

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    }
  });
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>