<script id="goal" type="text/x-handlebars-template">
  <div class="panel-heading">
  </div>
  <div class="panel-collapse collapse in" id="collapse-goal-{{id}}">
    <div class="panel-body">
      <div class="g-options">
        <ul class="list-inline text-right">
          <li><a class="g-destroy pointer" title="Delete goal">
            <i class="fa fa-trash-o"></i>
          </a></li>
          <li><a class="g-edit pointer" title="Edit goal">
            <i class="fa fa-pencil-square-o"></i>
          </a></li>
        </ul>
      </div>
      <div class="todo-list undone-todos"></div>
      <div class="todo-list done-todos text-muted"></div>
      <form class="g-add-todo">
        <input placeholder="Add a task..." class="form-control" type="text">
      </form>
    </div>
  </div>
</script>

<script id="goal-header" type="text/x-handlebars-template">
  <a data-toggle="collapse" href="#collapse-goal-{{id}}">
    <h4 class="panel-title">
      <span class="goal-title">{{title}}</span>
      <span class="pull-right text-muted">
        <span class="completed">{{f "doneStr"}}</span>
      </span>
    </h4>
    <div class="progress progress-striped">
      {{#fEq 'doneCount' 0 }}
        <div class="text-center none-complete">
          {{#fEq 'fullCount' 0 }}
            Enter what you need to do to reach the goal the in box below...
          {{else}}
            When you complete your tasks, tick the box to the left of them...
          {{/fEq}}
        </div>
      {{else}}
        <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{f 'percentage'}}%;">
          {{f 'percentage'}}%
        </div>
      {{/fEq}}
    </div>
  </a>
</script>

<script id="goal-todo-list" type="text/x-handlebars-template">
  {{#each todosLoaded}}
    <div class="todo row" id="{{this.id}}">
      <div class="col-checkbox">
        <label>
          <input type="checkbox" class="g-t-checkbox" value="1" {{checked this.done}}>
          <span></span>
        </label>
      </div>
      <div class="col-content todo-content">
        {{s this.content}}
      </div>
      <div class="col-destroy">
        <i class="fa fa-times-circle g-t-destroy pull-right"></i>
      </div>
    </div>
  {{/each}}
</script>


<script id="notification-list" type="text/x-handlebars-template">
  {{#fEq 'len' 0 }}
    <li class="text-center">
      <a>
        <strong>No notifications</strong>
      </a>
    </li>
  {{else}}
    {{#each list}}
      <li>
        <a {{{nLink clickable id}}} class="{{sUn clicked_at 'unclicked'}}">
          <strong class="nicon"><i class="fa fa-{{icon_class}}"></i></strong>
          <span class="ncontent">
            <span class="msg">{{content}}</span>
            <small class="text-muted created">{{time_str}}</small>
          </span>
        </a>
      </li>
    {{/each}}
    <li>
      <a href="/notifications" class="text-center">
        More notifications
        {{#fEq 'extraUnread' 0}}
        {{else}}
          ({{f 'extraUnread'}} unread)
        {{/fEq}}
      </a>
    </li>
  {{/fEq}}
</script>
