<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "logo-link" do %>
        <img src="/study-net-logo.png" class="site-logo">
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= nav_link "Explore Notes", notes_path, class: "mbs" %></li>
        <li><%= nav_link "About", about_path %></li>
      </ul>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right user-nav">
          <%= render 'notifications' %>
          <li><%= nav_link new_note_path, class: "new-note-nav" do %>
            <i class="fa fa-file-o"></i> New Note
          <% end %></li>
          <li class="dropdown user-dropdown">
            <a class="dropdown-toggle pointer <%= 'current-page' if current_page?(root_path) %>" data-toggle="dropdown">
              <%= current_user.name || "You" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to root_path do %>
                <i class="fa fa-user"></i> My Profile
              <% end %></li>
              <li><%= link_to goals_path do %>
                <i class="fa fa-list"></i> Goals
              <% end %></li>
              <li><%= link_to nw_path do %>
                <i class="fa fa-star"></i> Noteworthies
              <% end %></li>
              <li><%= link_to edit_user_registration_path do %>
                <i class="fa fa-cogs"></i> Account Settings
              <% end %></li>
              <li class="divider"></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> Logout
              <% end %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
        </ul>
        <div class="btn-group navbar-btn pull-right">
          <%= link_to "Create an account", new_user_registration_path, class: "remote-modal btn btn-success" %>
          <%= link_to "Sign in", new_user_session_path, class: "remote-modal btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>