<li class="dropdown" id="notification-dropdown">
  <a class="dropdown-toggle notification-btn pointer <%= "#{'current-page' if current_page?(notifications_path)} #{show_n? ? 'some' : 'none'}" %>"
    data-toggle="dropdown" title="Notifications">
    <span class="fa-stack">
      <i class="fa fa-stack-1x bell-icon"></i>
      <span class="fa-stack-2x unread"><%= n_count if show_n? %></span>
    </span>
    <span class="notification-label">Notifications</span>
  </a>
  <ul class="dropdown-menu notification-list">
    <li class="text-muted text-center">Loading...</li>
  </ul>
</li>