<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <title><%= (@title && "#{@title} - StudyNet".html_safe) || "StudyNet" %></title>

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application" %>

    <script type="text/javascript">
      //MetaData
      var sn = {
        noteworthy: {
          is: "You have already marked this as noteworthy.",
          not: "Click if you find this note useful."
        },
        summerNote: {
          loaded: false,
          css: "//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.css",
          js: "//cdnjs.cloudflare.com/ajax/libs/summernote/0.5.0/summernote.min.js"
        },
        hbT: {}
      };
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-38398315-6', 'studynet.me');
      </script>
    <% end %>
  </head>

  <body>
    <div class="loading alert">
      <i class="fa fa-spinner fa-spin"></i> Loading...
    </div>

    <%= render 'navbar' %>

    <% if @disqus_id %>
      <script type="text/javascript">window.disqus_id = "<%= @disqus_id %>"</script>
    <% end %>
    
    <div class="page-container">
      <% if notice %>
        <div class="alert text-center alert-info smalert"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert text-center alert-danger smalert"><%= alert %></div>
      <% end %>
      
      <% if @no_container %>
        <div class="no-user">
          <%= yield %>
        </div>
      <% else %>
        <div class="container sn-container">
          <%= yield %>
        </div>
      <% end %>
    </div>

    <footer class="main-footer text-center">
      <div class="footer-content">
        StudyNet was conceived and is developed in Dublin, Ireland.
        <%= link_to "About", about_path %>
        <br>
        <small>
          This page was rendered using:
          <%= link_to "StudyNet version #{$version_number}", changelog_path %>
          on <%= $hostname %>
          <% if $dev_info %>
            <br>
            On '<%= $dev_info[:git_branch] %>', last commit '<%= $dev_info[:commit_name] %>'<%= ", used turbolinks." if turbolinks? %>
          <% end %>
        </small>
      </div>
    </footer>

    <div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="main-modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <p class="text-center">Loading...</p>
        </div>
      </div>
    </div>
    
    <% if Rails.env.production? %>
      <script>ga('send', 'pageview');</script>
    <% end %>

    <% if current_user && Rails.env.production? %>
      <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          // TODO: The current logged in user's full name
          name: "<%= current_user.name %>",
          // TODO: The current logged in user's email address.
          email: "<%= current_user.email %>",
          // TODO: The current logged in user's sign-up date as a Unix timestamp.
          created_at: <%= current_user.created_at.to_i %>,
          app_id: "2b0a5c83e339d64bcc4ff08839561201ac99d460"
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <% end %>
    
    <%= render 'hbjs_templates' %>
  </body>
</html>